@mixin base() {
    @include containContent();

    background-color: #015294;
    border-top: 14px solid #DA7E06;
    color: #fff;
    padding: 2rem;
}

.page-footer {
 @include base;

 @import 'nav';
 @import 'content';
 @import 'legal';
 @import 'image';

}